:root {
    --item-width: 48%;
}

[contenteditable] {
    outline: 0px solid transparent;
}

body,
html {
    margin: 0;
    /* caret-color : auto; */
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#main-div {
    /* --maincolor: #f5deb3; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 98vh;
    width: 100vw;
    background-color: var(--maincolor);
    /* overflow: hidden; */
}


#top-div {
    width: 100vw;
    height: 2vh;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#hide-history-button {
    width: 10vw;
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 10px;
    align-self: center;
}

#add-name-button {
    width: 10vw;
    margin-left: 3vw;
    margin-right: 3vw;
    border-radius: 10px;
    align-self: center;

}

#font-color-input {
    width: 16px;
    height: 16px;
    align-self: center;
}

#background-color-input {
    width: 16px;
    height: 16px;
    align-self: center;
}

#font-size-slider-div {
    width: 20vw;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

#pic-size-slider-div {
    width: 20vw;
    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

#version-text {
    color: blue;
}


#font-size-slider {
    width: 100%;

}

#pic-size-slider {
    width: 100%;
}

#history-div {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    flex-grow: 1.5;
    width: 0;
    overflow: auto;
}

#input-div {
    --inputfontcolor: #000000;
    --size: 23px;
    white-space: pre-wrap;
    color: var(--inputfontcolor);
    font-size: var(--size);
    display: inline-block;
    padding: 1em;
    padding-bottom: 30vh;
    overflow-x: hidden;
    flex-grow: 3.5;
    width: 0;
    overflow: auto;
}

#input-div>img {
    max-width: 100%;
}

#search {
    top: 0;
    right: 0;
}

#picture-div {
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* overflow: scroll; */
    overflow-x: hidden;
    flex-grow: 3;
    overflow: auto;
    width: 0;
}

#chara-div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 0;
    border-left: 2px solid black;
    padding: 3px;
    padding-bottom: 1vh;
}

#group-div {
    border-bottom: 5px solid rgb(95, 167, 178);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: auto;
    overflow-x: hidden;
    flex:  1
}

#pic-check-form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    flex:  2;
}

.group-btn {
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    margin-left: 10px;
    height: 24px;
    background: white;
    border-radius: 12px;
    cursor: pointer;
}

.chara-btn {
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    height: 24px;
    background: white;
    border-radius: 12px;
    cursor: pointer;
}

.chara-div {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.chara-name {
    height: auto;
    width: 100%;
    padding-left: 0.2em;
    top: 0;
    left: 0;
    display: block;
    background-color: coral;
    cursor: pointer;
}

.chara-name .chara-name-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
}

.chara-name:hover .chara-name-tooltip {
    visibility: visible;
}

.history-record {
    border-radius: 2em;
    width: auto;
    background-color: yellowgreen;
    color: white;
    padding: 3px;
    margin: 3px;
}

.pic-button {
    padding: 3px;
    width: var(--item-width);
    cursor: pointer;
}

.add-pic-button {
    border: none;
    border-radius: 50%;
    padding: 3px;
    width: 3vw;
    height: 3vw;
    background-color: Transparent;
    background-image: url("addpicbutton.png");
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.add-pic-button:hover {
    background-color: rgb(161, 243, 114);
}


.new-chara-div {
    padding: 3px;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(252, 154, 118);
    border: none;
}


.chara-label {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0.3em;
    font-size: 20px;
}



/* .pic-checkbox:checked + span{
    background-color: lightcoral;
} */

.dice-div {
    display: flex;
    flex-direction: row;
    padding: 3px;
    background-color: rgb(44, 44, 44);
    color: white;
    position: absolute;
    left: 120px;
    top: 17px;
}

.dice-input {
    padding: 1px;
    padding-right: 1em;
    font-size: 15px;
}

.dice-tip {
    font-size: 15px;
    width: auto;
    text-align: center;
    padding-right: 8px;
}

.dice-sum {
    width: auto;
    justify-self: right;
}