body{
    overflow: hidden;
    }
    #search {
        font-size: 60vh;
        outline: none;
        border-radius: 50vh;
        border: 3px solid rgb(230, 150, 32);
        width: 100%;
        height: 100%;
        text-indent: 20vh;
        line-height: 20vh;
    }
